.navigation-bar-wrapper {
    float: left;
}

/*
body inline:
style="font-family: Lato, sans-serif;
                font-size: 16px;
                background-color: #f4f7f9;
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;"

*/

/* .navigation-bar ul li a {} */
#home-icon {
    margin-right: 8px;
}

.staff-dashboard-header-container {
    /* max-width: 500px; */
    margin: 0px auto;
}

.staff-dashboard-header {
    padding: 15px 0;
    border-radius: 5px;
    background-color: white;
    color: rgb(30, 108, 147);
    /* margin: 2.5% auto; */
    /* Was 3.5% */
    text-align: center;
    /* background-image: url('../images/Night-shot-w-lights_cropped.jpg');
    background-size: cover; */
    margin-top: -40px;
}

h1 {
    font-size: 3.0em;
}

h2 {
    font-size: 2.5em;
}

.blue-section {
    text-align: center;
    overflow: hidden;
}

.button-row {
    margin: 3.5% auto;
}

.blue-section {
    position: relative;
}

.blue-section a button,
.blue-section a button img {
    border: 0;
    background-color: transparent;
}

.section-header {
    background-color: rgb(30, 108, 147);
    /* A nice green: rgb(30, 147, 44) */
    color: white;
    text-align: center;
    padding: 15px 0;
    vertical-align: middle;
}

.section-header h3 {
    font-size: 2em;
    display: inline;
}

#teacherToolsButtonRow a button img {
    position: relative;
}


/* Animate opening and closing of rows */


/*div.blue-section-innerContainer>.section-content,*/

#restoringABrokenWiFiConnection-content,
#connectingToCentinela-content,
#quickLinksButtonRow,
#standardStaffToolsButtonRow,
#administratorToolsButtonRow,
#teacherToolsButtonRow,
#classroomToolsButtonRow,
#webAdminButtonRow,
#learningToolsButtonRow,
#digitalTextbooksButtonRow,
#mediaResourcesButtonRow,
#schoolWebsitesButtonRow,
#studentPortalButtonRow,
#systemStatusesButtonRow,
.admin-links {
    height: 0;
    margin: 0;
    transition: height, margin 0.5s;
}

#restoringABrokenWiFiConnection-collapseToggle:checked+div.blue-section-innerContainer>#restoringABrokenWiFiConnection-content,
#connectingToCentinela-collapseToggle:checked+div.blue-section-innerContainer>#connectingToCentinela-content,
#quickLinks-collapseToggle:checked~div#quickLinksButtonRow,
#standardStaffTools-collapseToggle:checked~div#standardStaffToolsButtonRow,
#administratorTools-collapseToggle:checked~div#administratorToolsButtonRow,
#teacherTools-collapseToggle:checked~div#teacherToolsButtonRow,
#classroomTools-collapseToggle:checked~div#classroomToolsButtonRow,
#learningTools-collapseToggle:checked~div#learningToolsButtonRow,
#digitalTextbooks-collapseToggle:checked~div#digitalTextbooksButtonRow,
#mediaResources-collapseToggle:checked~div#mediaResourcesButtonRow,
#schoolWebsites-collapseToggle:checked~div#schoolWebsitesButtonRow,
#studentPortal-collapseToggle:checked~div#studentPortalButtonRow,
#systemStatuses-collapseToggle:checked~div#systemStatusesButtonRow {
    margin: 2.5% auto;
    height: 100%;
}

#allTools-collapseToggle:checked~div#webAdminButtonRow {
    margin: 0.5% auto;
    height: 100%;
}

#restoringABrokenWiFiConnection-collapseToggle:checked+div.blue-section-innerContainer>div.section-header label>div.open-column-button::after,
#connectingToCentinela-collapseToggle:checked+div.blue-section-innerContainer>div.section-header label>div.open-column-button::after,
#quickLinks-collapseToggle:checked+div.section-header label>div.open-column-button::after,
#standardStaffTools-collapseToggle:checked+div.section-header label>div.open-column-button::after,
#administratorTools-collapseToggle:checked+div.section-header label>div.open-column-button::after,
#teacherTools-collapseToggle:checked+div.section-header label>div.open-column-button::after,
#classroomTools-collapseToggle:checked+div.section-header label>div.open-column-button::after,
#allTools-collapseToggle:checked+div.section-header label>div.open-column-button::after,
#learningTools-collapseToggle:checked+div.section-header label>div.open-column-button::after,
#digitalTextbooks-collapseToggle:checked+div.section-header label>div.open-column-button::after,
#mediaResources-collapseToggle:checked+div.section-header label>div.open-column-button::after,
#schoolWebsites-collapseToggle:checked+div.section-header label>div.open-column-button::after,
#studentPortal-collapseToggle:checked+div.section-header label>div.open-column-button::after,
#systemStatuses-collapseToggle:checked+div.section-header label>div.open-column-button::after {
    content: '-';
    /* was 029BB or 02297  */
}

#allTools-collapseToggle:checked~div.admin-links {
    /* Old rules: */
    /* margin: 1.5% auto;
    height: 100%;
    display: table;
    vertical-align: middle;
    padding: 10px 30px;
    border: 1px solid #1e6c93;
    border-radius: 8px; */
    margin: auto;
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
    padding: 1% 3%;
    background-color: #f4f7f9;
}

#connectingToCentinela-collapseToggle:checked+div.blue-section-innerContainer>div.section-content,
#restoringABrokenWiFiConnection-collapseToggle:checked+div.blue-section-innerContainer>div.section-content,
#quickLinks-collapseToggle:checked+div.blue-section-innerContainer>div.section-content,
#systemStatuses-collapseToggle:checked+div.blue-section-innerContainer>div.section-content {
    display: table;
}

.admin-links {
    height: 0;
    background-color: white;
}

.admin-links a {
    display: block;
    text-align: left;
    margin: 8px 0;
}

.admin-links a::before {
    content: "\00bb";
    padding-right: 3px;
}

.open-column-button {
    cursor: pointer;
    border: 0;
    background: transparent;
    font-size: 2.2em;
    padding: 0px 9px 3px 9px;
    display: inline;
    margin-left: 20px;
    /*used to be 5px*/
    /* Padding when icons were being used :
   padding: 0px 5px 5px 5px;
    /*  padding: 5px 10px 10px 10px; */
    border-radius: 100%;
    background-color: white;
    color: #1e6c93;
}

.open-column-button::after {
    content: '+';
    /* \02295' */
}

.nonButtonImages {
    height: 98px;
}

#arrow-link,
.scrollArrow {
    display: none;
}

.google-sheet {
    height: 500px;
}


/* Menu Bar */
.checkbox-hack {
    display: none;
}
/* Was 585px with smaller logo and font */


/* Was 624px for Chrome only now 660px for FF */

@media only screen and (max-width: 833px) {
    .staff-dashboard-header {
        margin-top: 100px;
        /*Used to be 170px */
    }
    
    .navigation-bar-header {
        display: inline-block;
    }
 
    #home-icon {
        color: rgb(21, 73, 99);
    }
 
    #arrow-link {
        display: block;
        background-color: #1e6c93;
    }
    .scrollArrow {
        display: block;
        font-size: 1.2em;
        position: fixed;
        z-index: 2;
        bottom: 2%;
        right: 25px;
        color: rgb(30, 108, 147);
        background-color: white;
        opacity: 0.65;
        border-image: initial;
        border: 3px solid rgb(30, 108, 147);
        border-radius: 10px;
        padding: 5px;
    }
}

@media only screen and (max-width: 833px) {
    .staff-dashboard-header {
        margin-top: 0px;
        /*Used to be 150px*/
    }
    .navigation-bar-header {
        position: fixed;
        background: #f4f7f9;
        border-bottom: 5px solid #1e6c93;
    }
}


/* Make the navigation bar responsive and
fixed starting at tablet sizes */

@media only screen and (max-width: 765px) {
    .staff-dashboard-header {
        margin-top: 95px;
        /*Used to be 150px*/
    }
    .navigation-bar-header {
        position: fixed;
        /* Bottom two BG-color and border-bottom were not here before */
        background: #f4f7f9;
        border-bottom: 5px solid #1e6c93;
    }
}


/* Media queries for the Google Doc iFrame so that the text inside 
appears centered all the time*/

@media only screen and (min-width: 1882px) {
    .google-sheet {
        width: 25%;
    }
}

@media only screen and (min-width: 1720px) and (max-width: 1881px) {
    .google-sheet {
        width: 28%;
    }
}

@media only screen and (min-width: 1521px) and (max-width: 1718px) {
    .google-sheet {
        width: 31%;
    }
}

@media only screen and (min-width: 1361px) and (max-width: 1520px) {
    .google-sheet {
        width: 35%;
    }
}

@media only screen and (min-width: 1199px) and (max-width: 1360px) {
    .google-sheet {
        width: 40%;
    }
}

@media only screen and (min-width: 1066px) and (max-width: 1198px) {
    .google-sheet {
        width: 45%;
    }
}

@media only screen and (min-width: 987px) and (max-width: 1065px) {
    .google-sheet {
        width: 50%;
    }
}

@media only screen and (min-width: 901px) and (max-width: 986px) {
    .google-sheet {
        width: 55%;
    }
}

@media only screen and (min-width: 826px) and (max-width: 900px) {
    .google-sheet {
        width: 65%;
    }
}

@media only screen and (min-width: 719px) and (max-width: 825px) {
    .google-sheet {
        width: 65%;
    }
}

@media only screen and (min-width: 642px) and (max-width: 718px) {
    .google-sheet {
        width: 75%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 641px) {
    .google-sheet {
        width: 80%;
    }
}

@media only screen and (min-width: 563px) and (max-width: 599px) {
    .google-sheet {
        width: 85%;
    }
}

@media only screen and (min-width: 529px) and (max-width: 562px) {
    .google-sheet {
        width: 90%;
    }
}

@media only screen and (min-width: 502px) and (max-width: 528px) {
    .google-sheet {
        width: 95%;
    }
}

@media only screen and (max-width: 501px) {
    .google-sheet {
        width: 100%;
    }
}


/* Fade in animation for navigation menu-icon on mobile */

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tutorialTitle {
    font-size: 2.5em;
}

.tut-Header h5.tutorialTitle-edition {
    color: #cc3333;
    font-weight: bold;
    font-size: 1.5em;
    font-style: italic;
    margin: 7px 3px;
}

.tutStep {
    margin: 27px auto;
}

.tutStepHeader {
    /* border-bottom: 3px solid #1E6C93; */
    /* max-width: 100%; */
    display: block;
    /* margin: 0 auto; */
    padding-bottom: 5px;
    margin-bottom: 15px;
    /* float: left; */
    /* position: relative; */
    /* left: 80px; */
}

.tutStepHeader h6 {
    display: inline;
    color: black;
    font-size: 2em;
}

.tutStepHeader p {
    color: #cc3333;
    width: 75px;
    font-size: 2.25em;
    border-right: 1px solid #939598;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-weight: bolder;
}

header.tutStepHeader p span {
    display: block;
    color: #cccccc;
    font-size: 0.65em;
    font-weight: normal;
}

.tutImage {
    display: inline-block;
    margin: 0 auto;
    width: 450px;
}

.dlTutLink {
    display: table;
    background-color: #1E6C93;
    /*was the 337 color before*/
    padding: 10px 12px;
    border-radius: 10px;
    font-size: 1.1em;
    margin: 0 auto;
}

.tutDLButton {
    color: white;
    font-size: 1.1em;
    border-radius: 10px;
}

.tutImageCaption {
    color: white;
    padding: 8px 6px;
    text-align: center;
    font-size: 1.25em;
    background-color: #337AB7;
    margin: 0px 15px;
    max-width: 889px;
    border-radius: 2px;
    border-top: 2px dashed;
}

p.tut-descr a.tutRef {
    text-decoration: underline;
}

.imagecaptionLeftAlign {
    text-align: unset;
}

.blue-section.troubleshooting {
    text-align: unset;
}

.blue-section.troubleshooting .section-content p.tut-descr {
    font-size: 1.25em;
    color: #1E6C93;
    margin: 20px 0px;
}

.section-content {
    display: block;
    margin: 0 auto;
}

.tut-Header {
    text-align: center;
}

.tut-Header h4,
.tut-Header h5 {
    margin: 0;
}

@media only screen and (max-width: 926px) {
    .tutStepHeader,
    .tutImage,
    .tutImageCaption {
        margin-left: 15px;
    }
    .dlTutLink,
    .blue-section.troubleshooting .section-content p.tut-descr {
        margin: 8px 15px;
    }
}

.addToHomeScreenButton {
        position: relative;
        display: inline-block;
        color: white;
        border: 0;
        font-size: 1.3em;
        padding: 0.4em 0.6em;
        margin: 0.4em;
        border-radius: 1em;
}

.blueBG {
    background-color: #1E6C93;
}


