body {
    transition: all 700ms ease-in-out !important;
}

body.ReactModal__Body--open {
    overflow-y: hidden;
}

body.ReactModal__Body--open > :not(.ReactModalPortal) {
/* filter: blur(5px); */
}

body {
    filter: blur(0px);
    transition: 700ms filter linear;
}


iframe {
    display: block;  
    width: 25%;
    height: 100%;
}

.ReactModal__Overlay {
    opacity: 0;
    /* transform: scale(0.0); */
    transition: opacity 700ms ease-in-out;
    /* transform 700ms ease-in-out; */
}

.ReactModal__Content {
    transform: scale(0.0);
    transition: opacity 700ms ease-in-out, transform 700ms ease-in-out
    
    /* opacity 700ms ease-in-out, transform 700ms ease-in-out */
}

.ReactModal__Overlay--after-open, .ReactModal__Content--after-open{
    opacity: 1; 
}

.ReactModal__Content--after-open {
    transform: scale(3.0);
}

.ReactModal__Overlay--before-close, .ReactModal__Content--before-close{
    opacity: 0;
    /* transition: opacity 700ms ease-in-out, transform 700ms ease-in-out */
}

.ReactModal__Content--before-close {
    transform: scale(0.0);
    /* transition: transform 700ms ease-in-out; */
}